<navbar class="navbar navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand" style="cursor: default;">Assignment 06</span>
  </div>
</navbar>

<div class="container">
  <div class="row d-flex justify-content-center flex-wrap">
    <h5 class="col-12" style="text-align: center;">Staff Table</h5>

    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-sm btn-success col-1" (click)="open()">+</button>
    </div>

    <table class="table table-striped col-12">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Role</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users; index as i">
            <th scope="row">{{ u.id }}</th>
            <td>{{ u.title }}</td>
            <td>{{ u.firstName }}</td>
            <td>{{ u.lastName }}</td>
            <td>{{ u.role }}</td>
            <td>{{ u.email }}</td>
            <td>
              <button (click)="handleEdit(u.id)" class="btn btn-sm btn-warning" style="margin-right: 4px;">
                Edit
              </button>
              <button (click)="handleDelete(u.id)" class="btn btn-sm btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>